.new{
    float: right;
    margin-bottom: 1.5em;
    background-color: #92d10a;
    padding: 0.5em;
    border-radius: 18px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 0;
    display: flex;
    transition: ease-in-out 0.3s;
}

.new svg{
    margin-right: 5px;
}

.new:hover{
    background-color: #5fd204;
    transform: scale(1.1);
}

.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard span{
    margin: 2em 0;
    font-size: 1.5em;
    font-weight: bold;
}

table{
    border: 1px solid #CCC;
    width: 100%;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    border-collapse: collapse;
}

table caption{
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table tr{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th, table td{
    padding: 0.62em;
    text-align: center;
}

table th{
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

table td .action{
    border: 0;
    padding: 5px;
    border-radius: 5px;
    display:  inline-block;
    cursor:  pointer;
    margin-right: 4px;
}

table td .action svg{
    vertical-align: middle;
}

table td .badge{
    padding: 4px;
    border-radius: 8px;
    color: #FFF;
}

.btn-more{
    margin: 1.5em 0;
    padding: 0.5em 1em;
    background-color: #181c2e;
    border: 0;
    color: #FFF;
    border-radius: 18px;
    font-size: 1.1em;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

@media screen and (max-width: 600px){
    tale{
        border: 0;
    }

    table caption{
        font-size: 1.3em;
    }

    table thead{
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr{
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.60em;
    }

    table td{
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}